---
/**
 * Componente Header
 * Identidad visual principal (Logo).
 */
---

<header class="header-main-wrapper">
  <div class="logo-area">
    <a href="/">
      <svg
        width="90%"
        alt="Queselló"
        class="logo-img"
        viewBox="0 0 220 48"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M56.3046 40.2005C54.0674 40.2005 52.0687 39.7052 50.3083 38.7145C48.5846 37.7239 47.2276 36.3663 46.2374 34.6419C45.2839 32.8807 44.8071 30.8627 44.8071 28.5879V13.2328H50.8584V28.3127C50.8584 29.5969 51.0601 30.6976 51.4635 31.6149C51.9036 32.4954 52.5271 33.1742 53.3339 33.6512C54.1775 34.1282 55.1677 34.3667 56.3046 34.3667C58.0649 34.3667 59.4036 33.853 60.3204 32.8257C61.274 31.7616 61.7507 30.2573 61.7507 28.3127V13.2328H67.802V28.5879C67.802 30.8994 67.3069 32.9357 66.3167 34.6969C65.3632 36.4214 64.0246 37.7789 62.3009 38.7696C60.5772 39.7236 58.5784 40.2005 56.3046 40.2005ZM86.8076 40.2005C84.167 40.2005 81.7832 39.6135 79.6561 38.4394C77.5656 37.2286 75.8969 35.5775 74.65 33.4861C73.4397 31.3947 72.8346 29.0465 72.8346 26.4415C72.8346 23.8364 73.4397 21.5065 74.65 19.4518C75.8602 17.3605 77.4923 15.7094 79.546 14.4986C81.6365 13.2878 83.947 12.6824 86.4775 12.6824C88.9347 12.6824 91.0985 13.2511 92.9689 14.3885C94.876 15.5259 96.3613 17.0853 97.4249 19.0666C98.5251 21.0479 99.0752 23.3044 99.0752 25.8361C99.0752 26.2763 99.0385 26.735 98.9652 27.212C98.9285 27.6523 98.8552 28.1476 98.7452 28.6979H77.0705V23.7447H95.6095L93.354 25.726C93.2806 24.1116 92.9689 22.754 92.4188 21.6533C91.8687 20.5526 91.0802 19.7087 90.0533 19.1216C89.0631 18.5346 87.8345 18.241 86.3675 18.241C84.8272 18.241 83.4886 18.5713 82.3516 19.2317C81.2147 19.8921 80.3345 20.8278 79.7111 22.0386C79.0876 23.2127 78.7759 24.6253 78.7759 26.2763C78.7759 27.9274 79.1059 29.3767 79.7661 30.6242C80.4262 31.8717 81.3614 32.844 82.5717 33.5411C83.782 34.2016 85.1756 34.5318 86.7526 34.5318C88.1096 34.5318 89.3565 34.2933 90.4934 33.8163C91.667 33.3393 92.6572 32.6422 93.464 31.7249L97.3148 35.6325C96.0312 37.1368 94.4726 38.2743 92.6388 39.0448C90.8051 39.8153 88.8614 40.2005 86.8076 40.2005ZM113.185 40.2005C111.718 40.2005 110.306 40.0171 108.949 39.6502C107.592 39.2466 106.345 38.6962 105.208 37.9991C104.071 37.2653 103.081 36.3847 102.237 35.3573L106.088 31.5048C107.005 32.5688 108.05 33.376 109.224 33.9264C110.434 34.4401 111.791 34.6969 113.295 34.6969C114.652 34.6969 115.679 34.4951 116.375 34.0915C117.072 33.6879 117.421 33.1009 117.421 32.3303C117.421 31.5231 117.091 30.8994 116.43 30.4591C115.77 30.0188 114.908 29.6519 113.845 29.3584C112.818 29.0282 111.718 28.6979 110.544 28.3677C109.407 28.0375 108.307 27.5972 107.243 27.0469C106.217 26.4598 105.373 25.671 104.713 24.6803C104.053 23.6896 103.723 22.4055 103.723 20.8278C103.723 19.14 104.108 17.6907 104.878 16.4799C105.685 15.2691 106.803 14.3335 108.234 13.673C109.701 13.0126 111.443 12.6824 113.46 12.6824C115.587 12.6824 117.457 13.0676 119.071 13.8381C120.721 14.572 122.097 15.691 123.197 17.1954L119.346 21.0479C118.576 20.0939 117.696 19.3785 116.705 18.9015C115.715 18.4245 114.578 18.186 113.295 18.186C112.085 18.186 111.149 18.3695 110.489 18.7364C109.829 19.1033 109.499 19.6353 109.499 20.3324C109.499 21.0662 109.829 21.635 110.489 22.0386C111.149 22.4422 111.993 22.7907 113.02 23.0842C114.083 23.3778 115.184 23.708 116.32 24.0749C117.494 24.4051 118.594 24.8821 119.621 25.5058C120.685 26.0929 121.547 26.9001 122.207 27.9274C122.867 28.9181 123.197 30.2206 123.197 31.835C123.197 34.4034 122.298 36.4397 120.501 37.944C118.704 39.4484 116.265 40.2005 113.185 40.2005ZM141.102 40.2005C138.462 40.2005 136.078 39.6135 133.951 38.4394C131.86 37.2286 130.192 35.5775 128.945 33.4861C127.734 31.3947 127.129 29.0465 127.129 26.4415C127.129 23.8364 127.734 21.5065 128.945 19.4518C130.155 17.3605 131.787 15.7094 133.841 14.4986C135.931 13.2878 138.242 12.6824 140.772 12.6824C143.229 12.6824 145.393 13.2511 147.264 14.3885C149.171 15.5259 150.656 17.0853 151.72 19.0666C152.82 21.0479 153.37 23.3044 153.37 25.8361C153.37 26.2763 153.333 26.735 153.26 27.212C153.223 27.6523 153.15 28.1476 153.04 28.6979H131.365V23.7447H149.904L147.649 25.726C147.575 24.1116 147.263 22.754 146.713 21.6533C146.163 20.5526 145.375 19.7087 144.348 19.1216C143.358 18.5346 142.129 18.241 140.662 18.241C139.122 18.241 137.783 18.5713 136.646 19.2317C135.509 19.8921 134.629 20.8278 134.006 22.0386C133.382 23.2127 133.07 24.6253 133.07 26.2763C133.07 27.9274 133.4 29.3767 134.061 30.6242C134.721 31.8717 135.656 32.844 136.866 33.5411C138.076 34.2016 139.47 34.5318 141.047 34.5318C142.404 34.5318 143.651 34.2933 144.788 33.8163C145.962 33.3393 146.952 32.6422 147.759 31.7249L151.609 35.6325C150.326 37.1368 148.767 38.2743 146.933 39.0448C145.1 39.8153 143.156 40.2005 141.102 40.2005ZM158.843 39.6502V0.0240358H164.894V39.6502H158.843ZM172.237 39.6502V0.0240358H178.288V39.6502H172.237ZM197.734 40.2005C195.167 40.2005 192.838 39.5951 190.747 38.3843C188.657 37.1368 186.988 35.4674 185.741 33.376C184.531 31.2847 183.926 28.9548 183.926 26.3864C183.926 23.8181 184.531 21.5065 185.741 19.4518C186.988 17.3972 188.657 15.7644 190.747 14.5536C192.838 13.3061 195.167 12.6824 197.734 12.6824C200.338 12.6824 202.685 13.2878 204.775 14.4986C206.866 15.7094 208.516 17.3605 209.726 19.4518C210.973 21.5065 211.597 23.8181 211.597 26.3864C211.597 28.9548 210.973 31.2847 209.726 33.376C208.516 35.4674 206.866 37.1368 204.775 38.3843C202.685 39.5951 200.338 40.2005 197.734 40.2005ZM197.734 34.3667C199.238 34.3667 200.558 34.0365 201.695 33.376C202.868 32.6789 203.767 31.7249 204.39 30.5141C205.05 29.3033 205.381 27.9274 205.381 26.3864C205.381 24.8454 205.05 23.4878 204.39 22.3137C203.73 21.1396 202.832 20.2224 201.695 19.5619C200.558 18.8648 199.238 18.5162 197.734 18.5162C196.267 18.5162 194.947 18.8648 193.773 19.5619C192.636 20.2224 191.738 21.1396 191.077 22.3137C190.454 23.4878 190.142 24.8454 190.142 26.3864C190.142 27.9274 190.454 29.3033 191.077 30.5141C191.738 31.7249 192.636 32.6789 193.773 33.376C194.947 34.0365 196.267 34.3667 197.734 34.3667Z"
          fill="#495d56"></path>
        <path
          d="M33.2813 20.3247C33.2812 18.5762 32.9364 16.8449 32.2676 15.2295C31.5988 13.6142 30.619 12.1463 29.3833 10.91C28.1474 9.67355 26.6796 8.6927 25.0649 8.02357C23.4503 7.35452 21.7196 7.01024 19.972 7.01024C18.2243 7.01027 16.4938 7.35446 14.8791 8.02357C13.2644 8.6927 11.7973 9.67356 10.5615 10.91C9.32563 12.1463 8.34521 13.6141 7.67637 15.2295C7.00756 16.8449 6.66353 18.5762 6.6635 20.3247C6.6635 22.0731 7.00762 23.8045 7.67637 25.4198C8.34521 27.0353 9.32563 28.5037 10.5615 29.7401C11.7972 30.9764 13.2645 31.9567 14.8791 32.6258C16.4938 33.2949 18.2243 33.6398 19.972 33.6399C23.5017 33.6399 26.8874 32.2372 29.3833 29.7401C31.8792 27.2431 33.2813 23.856 33.2813 20.3247ZM39.944 20.3247C39.944 25.6239 37.8398 30.7062 34.0943 34.4533C30.3489 38.2004 25.2689 40.3056 19.972 40.3056C17.3494 40.3055 14.7526 39.7885 12.3296 38.7844C9.90646 37.7803 7.70422 36.3087 5.84966 34.4533C3.99519 32.598 2.52411 30.3954 1.52046 27.9713C0.51678 25.5471 0 22.9486 0 20.3247C2.2948e-05 17.7009 0.516882 15.1029 1.52046 12.6788C2.52415 10.2546 3.99509 8.05143 5.84966 6.19604C7.70422 4.34065 9.90646 2.86904 12.3296 1.86491C14.7525 0.860886 17.3494 0.343797 19.972 0.343774C22.5947 0.343774 25.1921 0.860784 27.6152 1.86491C30.0382 2.86901 32.2398 4.34075 34.0943 6.19604C35.9489 8.05142 37.4198 10.2546 38.4235 12.6788C39.4271 15.1029 39.944 17.7009 39.944 20.3247Z"
          fill="#495d56"></path>
        <path
          d="M44 42.4742C44 43.1999 43.8571 43.9184 43.5796 44.5888C43.302 45.2593 42.8951 45.8684 42.3823 46.3815C41.8694 46.8947 41.2605 47.3017 40.5904 47.5794C39.9203 47.8571 39.202 48 38.4767 48C37.7514 48 37.0331 47.8571 36.363 47.5794C35.6929 47.3017 35.084 46.8947 34.5711 46.3815C34.0583 45.8684 33.6514 45.2593 33.3738 44.5888C33.0963 43.9184 32.9534 43.1999 32.9534 42.4742C32.9534 41.7486 33.0963 41.03 33.3738 40.3596C33.6514 39.6892 34.0583 39.08 34.5711 38.5669C35.084 38.0538 35.6929 37.6468 36.363 37.3691C37.0331 37.0914 37.7514 36.9485 38.4767 36.9485C39.9416 36.9485 41.3464 37.5307 42.3823 38.5669C43.4181 39.6032 44 41.0087 44 42.4742Z"
          fill="#495d56"></path>
        <path
          d="M214.752 5.27056C214.752 6.66839 214.197 8.00898 213.209 8.9974C212.221 9.98582 210.881 10.5411 209.484 10.5411C208.792 10.5411 208.107 10.4048 207.468 10.1399C206.828 9.87504 206.248 9.48682 205.758 8.9974C205.269 8.50799 204.881 7.92697 204.616 7.28752C204.352 6.64806 204.215 5.9627 204.215 5.27056C204.215 4.57842 204.352 3.89306 204.616 3.25361C204.881 2.61415 205.269 2.03313 205.758 1.54371C206.248 1.05429 206.828 0.666065 207.468 0.401195C208.107 0.136325 208.792 -9.10544e-07 209.484 0C210.881 3.26921e-06 212.221 0.555297 213.209 1.54372C214.197 2.53214 214.752 3.87272 214.752 5.27056Z"
          fill="#495d56"></path>
        <path
          d="M216.786 40.069C216.167 40.069 215.612 39.9264 215.12 39.6413C214.639 39.3463 214.26 38.953 213.985 38.4613C213.71 37.9697 213.572 37.4191 213.572 36.8094C213.572 36.1998 213.705 35.6541 213.97 35.1723C214.245 34.6806 214.624 34.2922 215.105 34.0071C215.587 33.7219 216.142 33.5793 216.771 33.5793C217.4 33.5793 217.956 33.7219 218.437 34.0071C218.929 34.2922 219.312 34.6806 219.587 35.1723C219.862 35.6541 220 36.1998 220 36.8094C220 37.4191 219.862 37.9746 219.587 38.4761C219.312 38.9677 218.934 39.3561 218.452 39.6413C217.97 39.9264 217.415 40.069 216.786 40.069ZM215.71 38.4761V35.069H216.27V38.4761H215.71ZM217.567 38.4761L216.373 36.9864H217.037L218.275 38.4761H217.567ZM216.771 39.597C217.312 39.597 217.784 39.4741 218.187 39.2283C218.599 38.9825 218.924 38.6482 219.16 38.2253C219.396 37.8025 219.513 37.3306 219.513 36.8094C219.513 36.2883 219.396 35.8212 219.16 35.4082C218.924 34.9953 218.599 34.6659 218.187 34.4201C217.784 34.1742 217.312 34.0513 216.771 34.0513C216.241 34.0513 215.769 34.1742 215.356 34.4201C214.953 34.6659 214.634 34.9953 214.398 35.4082C214.172 35.8212 214.059 36.2883 214.059 36.8094C214.059 37.3306 214.172 37.8025 214.398 38.2253C214.634 38.6482 214.953 38.9825 215.356 39.2283C215.769 39.4741 216.241 39.597 216.771 39.597ZM216.078 37.0307V36.5587H216.948C217.115 36.5587 217.248 36.5145 217.346 36.426C217.445 36.3375 217.494 36.2145 217.494 36.0572C217.494 35.9196 217.445 35.8016 217.346 35.7032C217.248 35.6049 217.115 35.5557 216.948 35.5557H216.078V35.069H216.978C217.292 35.069 217.548 35.1624 217.744 35.3493C217.951 35.5262 218.054 35.7573 218.054 36.0425C218.054 36.3473 217.951 36.5882 217.744 36.7652C217.548 36.9422 217.292 37.0307 216.978 37.0307H216.078Z"
          fill="#495d56"></path>
      </svg>
    </a>
  </div>
</header>

<style>
  .header-main-wrapper {
    width: 100%;
    padding: 16px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  .logo-area {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .logo-img {
    height: 50px; /* Altura desktop */
    width: auto;
  }

  @media (max-width: 768px) {
    .header-main-wrapper {
      padding: 24px 36px 10px 15px;
    }
    .logo-img {
      height: 32px; /* Altura mobile respetando tu fix */
    }
  }
</style>
